@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.class-section-9{
  width: 1440px;
  height: calc(1535px - 957px);
  background-image: url("../images/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.class-section-9 .logo1{
  display: flex;

  justify-content: center;
  align-items: center;

  width: 480px;
  height: 356px;

  color: #232323;
  font-family: 'Cardo',serif;
  font-weight: 700;


  line-height: 62px;
}

#myLog{
  height: 130px;
  width: 250px;
  font-size: 63px;
}
.class-section-9 #copyrightT{
  grid-row: 4;
  height: 10px;
  display: flex;
  margin-left: 48px;
  word-spacing: -0.2px;
  letter-spacing: -0.58px;
  color: #232323;
  font-size: 21px;
  font-family: Lato,sans-serif;
  font-weight: 400;
}

.class-section-9 .LogoSpaceScrabble{
  height: calc(350px + 80px + 148px);
  display: flex;
  flex-direction: column;
}


/*тут поменял*/
.class-section-9 #FooterScrabble{
  height: 145px;
  width: 406px;
  margin-top: 36px;
  margin-left: -35px;
}

.class-section-9 .firstLine, .secLine, .thirdLine,.forthLine{
  letter-spacing: -0.75px;
}

.class-section-9 .firstLine{
  width: 218px;
}
.class-section-9 .forthLine{
  width: 218px;
}
.class-section-9 .secLine{
  width: 223px;
}

.class-section-9 .thirdLine{
  width: 228px;
  letter-spacing: -0.65px;
}

.class-section-9 .linksF{
  grid-row: 3;
  display: flex;
  flex-direction: row;
  line-height: 47.5px;
  color: #232323;
  letter-spacing: -1px;
}

.class-section-9 .classForCopy{
  display: grid;
  grid-template-rows: 113.5px 63px 257px 498px;
  margin-left: -16px;
  /*flex-direction: column;*/
  word-spacing: 1px;
}

.class-section-9 #quickLinks{
  margin-bottom: 34px;
  grid-row:2;
  margin-left: 1px;
  font-family: Lato,sans-serif;
  letter-spacing: -0.9px;
  word-spacing: 1px;
  color: #232323;
  font-size: 25px;
  font-weight: 700;
}

.class-section-9 a {
  display: flex;
  flex-direction: row;
  font-size: 21px;
  font-family: Lato, sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  transition: border-right-color 2s, color 0.5s;
  border: 2px solid transparent;
}

.class-section-9 a:hover {
  border-right-color:#232323;

  color:#e9e7e7;
}
