.section-1 {
    
    padding: 63px 0px 0px 113px;
    display: flex;
    margin-left: 5px;
    /*mix-blend-mode: multiply;*/
}
.background-image
{
    height: 641px;
    background-image: url("../images/lightScribble.png");
    background-position-y: -68%;
    background-repeat: no-repeat;
    
    
}

.section-1 h1{
    padding-left: 1px;
    font: "Cardo";
    font-style: bold;
    font-size: /*85px*/ 5em;
    line-height: 82px;
    letter-spacing: 0.8px;
    margin-bottom: 18px;
}
.section-1 p{
    /*padding-left: 6px;*/
    text-align:justify;
    padding-right: 9px;
    margin-left: -1px;
    font-family: Lato;
    font-style: normal;
    font-size: /*16px*/1em;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: -0.2px;
    word-spacing: -0.4px;
}
.sec1-two-rows{
    display: flex;
    justify-content: flex-start;
    margin-left: -5px;
}
.sec1-first-row button
{
    margin-top: 41px;
    margin-left: 2px;
    height: 54px;
    width: 256px;
    font-size: /*21px*/1.3em;
    padding-bottom: 2px;
    border-style:solid;
    font-weight: 800;
    color:#e9e7e7;
    background-color: #232323;
    border-radius: 5px;
    word-spacing: -3.3px;
    letter-spacing: -1.7px;
 /*   transition: transform 1.5s, color 1.5s, background-color 0.3s;*/
}
.sec1-first-row button:hover{
    transform: scale(1.1);
    color: #232323;
    background-color: #e9e7e7;
    border-color: #232323;
}
.sec1-first-row button:active{
    transition: all 0.05s;
    transform: scale(0.9);
    color:#e9e7e7;
    background-color: #232323;
}
/*
.sec1-two-rows div{
    display: flex;
    justify-content: space-between;
}*/
.sec1-first-row{
    display: flex;
    flex-direction: column;
    width: 434px;
    padding-right: 106px;
 
}
.sec1-second-row
{
    margin-left:-7px;

}
.scribble-dark{
    margin-top: 206%;
    margin-left: 10%;
}