.group6{
  padding-top: 10.5em;
  margin-top: 5px;
  padding-left: 68px;
  width:1400px;
  height:771px;
  display:flex;
  flex-direction: row;

}
.textGr6{
  margin-left:40px;
  width:760px;
  height:560px;
}

.mainTextGr6{
  width:755px;
  margin-bottom:6.5px;
  margin-top:5.5px;
  font-size:18px;
  margin-left:44px;
  font-weight:normal;
  font-family: "Lato";
  position:relative;
  float:left;
  clear:left;
  display: flex;
  flex-direction: row;
  letter-spacing: -0.9px;
}
.mainRectsGr6{
  position: relative;
  width: 755px;
  height: 60px;
  margin-bottom:20px;
  font-size:20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.line{
  position: relative;
  width:755px;
  height:60px;
  float: left;
  clear:left;

}
.line img{
  transition: transform 1.5s;
}
.line img:hover{
transform: scale(1.1);
}
.button_E{
  position: relative;
  left:145px;
  background-image: url("../images/plus.png");
  height: 20px;
  width: 18px;
  border-width: 0;
}
.rectangle{
  position: relative;
  float: left;
  clear:left;

}
.headingGr6{
  margin-left:2px;
  margin-top:2px;
  height:222px;
  width:1440px;
  font-family: 'Cardo',serif;
  line-height: 83px;
  font-weight: bolder;
  font-size: 85px;
  text-align: left;
  letter-spacing: -1px;

}

.scribbleUpGR7{
  height:268px;
  width:1440px;
  display: flex;
  flex-direction: row;
  margin-top:12px;
}


.section-7{
  margin-bottom: 91px;
}
.super-large-text-section7{
  margin-left:63px;
  margin-top:50px;
  font-family: 'Cardo',serif;
  line-height: 82px;
  font-weight:900;
  font-size: 85px;
  text-align: center;
  letter-spacing: -1px;
}

.first-icon{
  position: relative;
  height: 433px;
  width: 386px;
  left: 10px;
}
.third-icon{
  height: 433px;
  width: 386px;
  margin-right:3px;
}

.third-icon .line #idLineR {
  position: absolute;
  bottom:0;
  right: 0;
}

.first-icon .line #idLineL {
  position: absolute;
  bottom:0;
  left: 9.5px;
  margin-left: -40px;
}
.icons-section-7 .first-icon,.third-icon,.second-icon{
  width: 418px;
}
.icons-section-7 {
  position: relative;
  display: flex;
  flex-direction: row;
}
.first-icon .icon-text #idName1{
  position: relative;
  top: 255px;
  margin-left:25px;
  margin-bottom: 17px;
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  font-weight: bold ;
  letter-spacing: 0.5px;
}
.second-icon .icon-text #idName2{
  position: relative;
  top: 255px;
  margin-left:9px;
  margin-bottom: 17px;
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  font-weight: bold ;
  letter-spacing: 0.5px;
}
.third-icon .icon-text #idName3{
  position: relative;
  top: 255px;
  margin-bottom: 17px;
  font-family: 'Lato',sans-serif;
  font-size: 24px;
  font-weight: bold ;
  letter-spacing: 0.5px;
}

.third-icon{
  position: relative;
  background-image: url("../images/IconUser.png");
  background-repeat: no-repeat;
  top: 2px;
}

.second-icon{
  position: relative;
  background-image: url("../images/IconUser.png");
  background-repeat: no-repeat;
  margin-left: 22px;
  top: 2px;
}

.first-icon{
  position: relative;
  background-image: url("../images/IconUser.png");
  background-repeat: no-repeat;
  top: 2px;
  left: 21px;
}

.first-icon .icon-text #idParagraph1{
  position: relative;
  top: 255px;
  margin-left:25px;
  margin-right:13px;
  font-size: 16px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  color: #6d6d6d;
  letter-spacing: 0.2px;
}
.second-icon .icon-text #idParagraph2{
  position: relative;
  top: 255px;
  margin-left:22px;
  margin-right:13px;
  font-size: 16px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  color: #6d6d6d;
  letter-spacing: 0.2px;

}
.third-icon .icon-text #idParagraph3{
  position: relative;
  top: 255px;
  margin-left:20px;
  margin-right:13px;
  font-size: 16px;
  font-family: 'Lato',sans-serif;
  font-weight: 400;
  color: #6d6d6d;
  letter-spacing: 0.2px;

}

.icon-text{
  width: 386px;
  height: 427px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

 #idLineR{
  position: relative;
   top: 172px;
  background-image: url("../images/LineR.png");
  width: 88px;
  height: 76px;
  right: 70px;
  z-index: 2;
  margin-right:8px;
  margin-bottom:6px;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
}

#idLineL{
  position: relative;
  left: 65px;
  top: 172px;
  z-index: 2;
  margin-bottom:6px;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  background-image: url("../images/LineL.png");
  height: 77px;
  width: 87px;
}

.button_E7{
  z-index: 2;
  margin-right:8px;
  margin-bottom:6px;
  width:87px;
  height:76px;
}

