
     .group_3
     {
    
     /* margin: 0 auto;*/
      height: 877px;
      background-color: #e9e7e7;
      background-image: url("../images/scribble-lightest.png");
      background-repeat: no-repeat;
      background-position: right;
      display: flex;
      flex-direction: column;
      justify-content: center;
     }
     

     .wrapper_3
     {        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center;
        padding-top: 40px;

     }

     .wrapper_3 img
     {
      padding-top: 8px;
       width :70px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 67px;
      }

      .text_3
      {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
     .text_3 h2
     {
      /* margin: 0 auto;*/
       text-align:center;
       font-family: 'Cardo';
       font-style: bold;
       line-height: 1;
       font-weight: 700;
       font-size: 99px;
       margin-bottom: 55px;
       line-height: 0.98;
       text-shadow: 3px 0px 0px #232323 ;
       letter-spacing: -0.5px;
       padding-left: 20%;
       padding-right: 20%;        
     }

       h2 > span{
       text-decoration: underline 5px;
       text-underline-offset: 17px;
     }
 
     .text_3 p
     {
      margin-bottom:23px;
       font-family: 'Lato';
       font-style: black;
       font-size: 24.5px;
       text-align:center;
       letter-spacing: -0.15px;
       text-shadow: 1.5px 0px 0px #232323 ;
     }
     .scribble-black_3
     {
      display: flex;
      flex-direction: column;
      justify-content: center;
     }
     .scribble-black_3 img{
      
       margin-top:-24px;
       width: 430px;
       margin-left: 10%;
       padding-bottom:10px;
     }

    wrapper_4
    {
      max-width: 80%;
    /*  margin: 0 auto;*/
      display: flex;
    }

     .group_4
     {
      height: 824px;
      width: 100%;
     /* margin: 0 auto;*/
      display: flex;
      background-color: #e9e7e7;
     }
    
    .left_block_4{
      margin-right: 43px;
    }

    .tape_4
    {
      height: 760px;
      
      display: flex;
      flex-direction:column;
      justify-content: center;
     /* margin-left: -35px;*/
    }
    .tape_4 img{
      max-width: 5%;
      max-height: 5%;
    }

   
    .right_block_4
    {
      display: flex;
      flex-direction: column;
    }

    pict_4
    {
     margin-bottom: 64px;
    }

    .text_4{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 600px ;
     margin-bottom: 38px;
    }

    text_4_1
    {
      margin-top: -1px;
      font-family: 'Cardo';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      text-decoration: underline;
      text-underline-offset: 6px;
      text-decoration-thickness: 2px;
      width: 235px;
      margin-left: 1px;
      letter-spacing: 1.2px;
      text-shadow: 1.3px 0px 0px #232323;
      line-height: 1.36;
    }

    text_4_2
    {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 16.9px;
      width: 317px;
      height:180px;
      text-align: justify;
      margin-top: 9px;
      letter-spacing: -0.5px;
      word-spacing: -1px;
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }

    arrow_4
    {
        margin-top: 15px;
        margin-left: auto;
    }

    .group_5
    {
        height: 890px;
        width: 100%;
        /*margin: 0 auto;*/
        background-image: url("../images/pers-back1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: -19px;
     }

     .empty_5{
      width: 100%;
      height: 156px;
     }

    .wrapper_5
    {
        width: 1322px;
        height: 570px;
        margin-right: 0;
        margin-left: auto;
        padding-top: auto;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    .text_5
    {
      color: #e9e7e7;
      max-width: 455px;
    }

    .text_5 h1{
      font-family: 'Cardo';
      font-style: bold;
      font-weight: 700;
      font-size: 55.44px;
      margin-top: -2px;
      line-height: 1;
      margin-bottom: 111px;
      text-shadow: 2px 0px 0px #e9e7e7;
    }

    .text_5 h2
    {
      font-family: 'Lato';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      text-align: justify;
      letter-spacing: -0.4px;
      margin-bottom: 15px;
    }

    .text_5 h3{
      font-family: 'Lato';
      font-style: normal;
      font-weight: 400;
      font-size: 16.66px;
      text-align: justify;
      letter-spacing: -0.55px;
      word-spacing: -0.32px;
      margin-bottom: 54px;
    }

    .group_5 img{
      margin-top: -2px;
      max-width: 757px;
    }