.section-3
{
    margin-top: 166px;
    display: flex;
    justify-content: space-between;
    
}
/*
.sec3-rows{
    display: flex;
    justify-content: space-between;
    padding: 58px 58px 0 56px;
    align-items: center;
}*/
.sec3-row{
    display: flex;
    gap: 50px;
    
    width: 363px;
    flex-direction: column;
    box-sizing: border-box;
}
.sec3-row h3{
    font-size: 37px;
    line-height: 43px;
    padding-right: 55px;
    line-height: 35px;
}
.sec3-row p{
    font-family: lato;
    font-weight: 500;
    font-size: 16px

}