.background-black
{   
    display: flex;
    /*justify-items: row;*/
    justify-content: space-between;
    width: 1440px;
    background-image: url("../images/sec2Background.png");
    height: 387px;
   /* margin-top: 153px;*/
}
.img{
    max-width: 100%;
    max-height: 100%;
}
.section-2{
    display: flex;
    color: #e9e7e7;
    flex-direction: column;
    align-items: center;
    
}
.sec2-container{
    display: flex;
    flex-direction: column;
    width: 490px;
    align-self: center;
    align-items: center;
    justify-content: center;

}
.sec2-container h2{
    padding-top: 47px;
    padding-left: 5px;
    font-style: bold;
    font-size: 3.5em;
    text-align: center;
    line-height: 57px;
}
.sec2-container p:first-of-type{
    margin-top: 19px;
}
.sec2-container p 
{
    padding-left: 6px;
    font-family: lato;
    text-align: center;
    font-size: 1em;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.1px;
    word-spacing: -0.4px;
}
.sec2-container p span{
    text-align: justify;
}
.sec2-container button
{   
    height: 57px;
    width: 260px;
    display: flex;
    justify-content: center;
    margin-top:37px;
    margin-left: 3px;
    line-height: 49px;
    font-family: lato;
    font-size: 1.3em;

    font-weight: 800;
    color:#e9e7e7;
    border-style:solid;
    background-color: #232323;
    border-color: #e9e7e7;
    border-radius: 5px;
    border-width: 3px;
    transition: transform 1.5s, color 1.5s, background-color 0.3s;
    /*padding: 10px 50px 10px 50px;*/

}

.sec2-container button:hover{
    transform: scale(1.1);
    color: #232323;
    background-color: #e9e7e7;
    border-color: #232323;
}
.sec2-container button:active{
    transition: all 0.05s;
    transform: scale(0.9);
    color:#e9e7e7;
    background-color: #232323;
}